
{% extends "../layout.html" %}
{%- set clouds = [
{
	"title": "Развитие бизнеса",
	"content": "<p>Виртуальные и&#160;инфраструктурные сервисы в&#160;аренду (IaaS и&#160;PaaS) подходят для построения веб-приложений, веб-сайтов, баз данных, развертывания виртуальных машин и&#160;хранилищ данных, выполнения резервного копирования данных.</p>",
	"link": "/products?group=infra",
	"img": "cloud-slider-img1.jpg",
	"clouds": "cloud-slider-1.png",
	advantages: [
		{
			"title": "Внедрение при участии Microsoft",
			"content": "Все сервисы были развернуты согласно рекомендациям и&#160;лучшим практикам компании Microsoft с&#160;привлечением архитекторов и&#160;консультантов Microsoft."
		},
		{
			"title": "Сервера на территории РФ",
			"content": "Все сервисы размещены в&#160;ЦОДах на&#160;территории Москвы, некоторые компании имеют площадки и&#160;в&#160;других городах Российской Федерации."
		},
		{
			"title": "Платформа виртуализации Hyper-V 2012 R2",
			"content": "Все облачные сервисы используют самую современную платформу виртуализации Microsoft на&#160;базе Hyper-V 2012 R2&#160;и&#160;System Center 2012&#160;R2."
		},
		{
			"title": "Портал самообслуживания Windows Azure Pack на&#160;русском языке",
			"content": "Все сервисы позволяют потребителю самостоятельно управлять сервисом и&#160;разворачивать новые виртуальные машины через портал Windows Azure Pack, полностью поддерживающий русский язык, а&#160;так&#160;же английский язык и&#160;еще 10&#160;других языков."
		},
		{
			"title": "Отказоустойчивость инфраструктуры на нескольких уровнях",
			"content": "Сервисы не&#160;имеют единой точки отказа, продублированы все компоненты&#160;&#8212; от&#160;электропитания и&#160;охлаждения до&#160;кластеризации на&#160;уровне компонентов портала Windows Azure Pack."
		},
		{
			"title": "Лицензионный Windows Server",
			"content": "В&#160;стоимость всех виртуальных машин на&#160;базе Windows Server включена лицензия Windows Server Datacenter."
		},
		{
			"title": "Поддержка ВМ с Linux",
			"content": "В&#160;рамках данных облачных сервисов доступны не&#160;только&#160;ВМ на&#160;базе Windows Server, но&#160;и&#160;ВМ под управлением различных дистрибутивов Linux."
		},
		{
			"title": "SLA не ниже 99.9Х%",
			"content": "Все сервисы соответствуют наивысшим стандартам надежности, что позволяет обеспечивать SLA не&#160;ниже 99.9X%."
		},
		{
			"title": "Круглосуточная техническая поддержка на русском языке",
			"content": "Все сервисы адаптированы для российского потребителя из&#160;любого региона страны. Техническая поддержка и&#160;сам сервис предоставляются на&#160;круглосуточной основе на&#160;русском языке."
		}
	]
},
{
	"title": "Оптимизация <br>IT-инфраструктуры",
	"content": "<p>Виртуальные и&#160;инфраструктурные сервисы в&#160;аренду (IaaS и&#160;PaaS) подходят для построения веб-приложений, веб-сайтов, баз данных, развертывания виртуальных машин и&#160;хранилищ данных, выполнения резервного копирования данных.</p>",
	"link": "/products?group=business",
	"img": "cloud-slider-img2.jpg",
	"clouds": "cloud-slider-2.png"
},
{
	"title": "Маркетинг и продажи",
	"content": "<p>Сервисы для повышения эффективности работы сотрудников отдела маркетинга и&#160;продаж на&#160;базе Microsoft Dynamics CRM Online позволяют организовать единую рабочую среду компании и&#160;хранить данные в&#160;российских ЦОДах</p>",
	"link": "/products?group=business&tag=crmsystem",
	"img": "cloud-slider-img3.jpg",
	"clouds": "cloud-slider-3.png"
}
] -%}
{% block content %}
<div class="main-wrapper">

<div class="c-hero wrapped-section wrapped-section--mod-hero">

	<div class="l-container wrapped-section__container">
		<div class="l-row">
			<div class="l-col--md-9">
				<h1 class="h1 hero__title">Облачные решения Microsoft от&#160;российских партнеров</h1>
			</div>
		</div>
		<div class="l-row">
			<div class="l-col--md-7 wrapped-section__content wrapped-section__content--large">
				<p>Мы&#160;объединили глобальный опыт Microsoft по&#160;построению облачных сервисов с&#160;локальной экспертизой лучших российских партнеров, чтобы удовлетворить потребности современного бизнеса.</p>
				<p>Выберите свое решение, закажите тест-драйв внедрения, консультацию сервис-провайдера или экскурсию в&#160;партнерский ЦОД. Cloud OS&#160;Network Russia&#160;&#8212; сделано в&#160;России.</p>
				<p>
          <a href="{{ Root }}/products" class="btn mb20">Посмотреть решения</a>&#8195;<a href="https://events.techdays.ru/cloud-os-network-form/apply" class="btn btn--white mb20">Заказать презентацию</a>
        </p>
			</div>
		</div>
	</div>

	<div class="c-hero-slider__wrapper">
		<div class="l-container c-hero-slider__container">
			<div class="c-hero-slider">
				<div class="c-hero-slider__item">
					<div  class="c-hero-slider__link">
						<div class="c-hero-slider__imgbox"><img src="/images/klientonomika.jpg" alt="" class="c-hero-slider__img"></div>
						<div class="c-hero-slider__text">
						<a href="http://aka.ms/K84qhv" target="_blank">Форум &#171;Клиентономика 2016&#187;, 24&#160;мая, Москва. Лучшие компании о&#160;лучшем сервисе.</a></div>
					</div>
				</div>
				{%- for article in Articles  %}{% if article.slider %}
				<div class="c-hero-slider__item">
					<div  class="c-hero-slider__link">
						<div class="c-hero-slider__imgbox"><img src="{{ article.img}}" alt="" class="c-hero-slider__img"></div>
						<div class="c-hero-slider__text">
						<a href="{{ Root }}/{{ article._id }}">{{ article.title|safe }}</a></div>
					</div>
				</div>
				{% endif %}{% endfor -%}
			</div>
		</div>
	</div>
</div>

<div class="cloud-slider__wrapper">
	<div class="cloud-slider__tabs-wrapper">
		<div class="l-container">
			<div class="l-row">
				<div class="l-col--md-9">
					<div class="cloud-slider__tabs">
						<a href="#" class="cloud-slider__tabs-link">Развитие бизнеса</a>
						<a href="#" class="cloud-slider__tabs-link">Оптимизация IT-инфраструктуры</a>
						<a href="#" class="cloud-slider__tabs-link">Маркетинг и продажи</a>
					</div>
				</div>
				<div class="l-col--md-3 cloud-slider__tocatalog">
					<a href="{{ Root}}/products">Посмотреть все решения →</a>
				</div>
			</div>
		</div>
	</div>
	
	<div class="cloud-slider__controls">
		<div class="l-container	cloud-slider__controls-container">
			<div class="cloud-slider__arrow cloud-slider__arrow--prev"></div>
			<div class="cloud-slider__arrow cloud-slider__arrow--next"></div>
		</div>
	</div>
	<div class="cloud-slider">
		{% for item in clouds %} {% set parentIndex = loop.index %}
			<div class="cloud-slider__item">
				<div class="cloud-slider__item-inner">
					<img src="/images/{{ item.img }}" class="cloud-slider__img cloud-slider__img--{{ loop.index }}" alt="">
					<img src="/images/{{ item.clouds }}" class="cloud-slider__clouds" alt="">
					<div class="l-container">
						{%- if item.advantages %}
						<div class="cloud-slider__popover">
							<div class="h1">Преимущества</div>
							<div class="cloud-slider__popover-content">
								{%- for one in item.advantages %}
									<div class="cloud-slider-advantage">
										<div class="cloud-slider-advantage__title">{{ one.title|safe }}</div>
										<div class="cloud-slider-advantage__content">{{ one.content|safe }}</div>
									</div>
								{% endfor -%}
							</div>
						</div>
						{% endif -%}
						<div class="cloud-slider__content">
							<div class="cloud-slider__title">{{ item.title|safe }}</div>
							<div class="cloud-slider__text">{{ item.content|safe }}</div>
							<div class="cloud-slider__text"><a href="{{ Root ~ item.link }}" class="btn mb20">Посмотреть решения</a>{#%- if item.advantages -%}&#8195;<a href="#" class="btn mb20 j-show-advantages">Преимущества</a>{%- endif -%#}</div>
						</div>
					</div>
				</div>
			</div>
		{% endfor %}
	</div>

</div>



<section class="slider-section">
  <div class="l-container">
    <h1 class="h1 text-center">Примеры успешных внедрений</h1>
  </div>
  {% include "blocks/case-slider.html" %}
</section>


<section class="partner-section">
  <div class="l-container">
    <h1 class="h1 text-center">Наши партнеры</h1>
    <ul class="partner-list mb30">
			{%- for partner in Base.partners -%}
			{%- if partner.isvisible %}
			<li class="partner-list__item">
				<span class="partner-list__item-link">
					<img src="{{ partner.logo }}" alt="{{ partner.name }}">
				</span>
			</li>
			{%- endif -%}
			{%- endfor -%}
		</ul>
		<div class="l-row">
			<div class="l-col--md-8 l-col--md-offset-2 text-center">
        <p class="mb10"> Сервис-провайдеры решат задачи любой сложности по&#160;интеграции облачных решений с&#160;IT-инфраструктурой вашей компании. </p>
        <p class="mb30">Оптимизируйте бизнес с&#160;помощью облачных решений от&#160;партнеров Microsoft!</p>
        <p><a href="{{ Root }}/products" class="btn mb20">Посмотреть решения</a></p>
      </div>
		</div>
  </div>
</section>

<section class="faq-section">
    <div class="l-container text-center">
        <div class="l-row">
            <div class="l-col--md-6 l-col--md-offset-3">
                <h1 class="h1">Вопросы и ответы</h1>
                <p class="mb20">
                    Команда экспертов Cloud OS Network Russia готова ответить на&#160;ваши вопросы и помочь вам в выборе решения
                </p>
                <a href="{{ Root }}/wiki" class="btn">Узнать больше</a>
            </div>
        </div>
    </div>
</section>
</div>
{% include "../blocks/index_js.html" %}
{% endblock %}
