
{% extends "../layout.html" %}
{%- set clouds = [
{
	"title": "Совместная работа с&#160;клиентами в облаке",
	"content": "<p>Сервисы для коллективной работы сотрудников включают в&#160;себя электронную почту, онлайн-коммуникации, веб-конференции, файловое хранилище и&#160;телефонию. Главное преимущество&#160;— организация выделенных каналов связи для каждого клиента для увеличения скорости работы сервиса</p>",
	"link": "/products?group=infra",
	"img": "cloud-slider-img1.jpg",
	"clouds": "cloud-slider-1.png",
	advantages: [
		{
			"title": "Внедрение при участии Microsoft",
			"content": "Все сервисы были развернуты согласно рекомендациям и&#160;лучшим практикам компании Microsoft с&#160;привлечением архитекторов и&#160;консультантов Microsoft."
		},
		{
			"title": "Сервера на территории РФ",
			"content": "Все сервисы размещены в&#160;ЦОДах на&#160;территории Москвы, некоторые компании имеют площадки и&#160;в&#160;других городах Российской Федерации."
		},
		{
			"title": "Платформа виртуализации Hyper-V 2012 R2",
			"content": "Все облачные сервисы используют самую современную платформу виртуализации Microsoft на&#160;базе Hyper-V 2012 R2&#160;и&#160;System Center 2012&#160;R2."
		},
		{
			"title": "Портал самообслуживания Windows Azure Pack на&#160;русском языке",
			"content": "Все сервисы позволяют потребителю самостоятельно управлять сервисом и&#160;разворачивать новые виртуальные машины через портал Windows Azure Pack, полностью поддерживающий русский язык, а&#160;так&#160;же английский язык и&#160;еще 10&#160;других языков."
		},
		{
			"title": "Отказоустойчивость инфраструктуры на нескольких уровнях",
			"content": "Сервисы не&#160;имеют единой точки отказа, продублированы все компоненты&#160;&#8212; от&#160;электропитания и&#160;охлаждения до&#160;кластеризации на&#160;уровне компонентов портала Windows Azure Pack."
		},
		{
			"title": "Лицензионный Windows Server",
			"content": "В&#160;стоимость всех виртуальных машин на&#160;базе Windows Server включена лицензия Windows Server Datacenter."
		},
		{
			"title": "Поддержка ВМ с Linux",
			"content": "В&#160;рамках данных облачных сервисов доступны не&#160;только&#160;ВМ на&#160;базе Windows Server, но&#160;и&#160;ВМ под управлением различных дистрибутивов Linux."
		},
		{
			"title": "SLA не ниже 99.9Х%",
			"content": "Все сервисы соответствуют наивысшим стандартам надежности, что позволяет обеспечивать SLA не&#160;ниже 99.9X%."
		},
		{
			"title": "Круглосуточная техническая поддержка на русском языке",
			"content": "Все сервисы адаптированы для российского потребителя из&#160;любого региона страны. Техническая поддержка и&#160;сам сервис предоставляются на&#160;круглосуточной основе на&#160;русском языке."
		}
	]
},
{
	"title": "Аренда облачных решений и&#160;сервисов для бизнеса",
	"content": "<p>Сервисы для коллективной работы сотрудников включают в&#160;себя электронную почту, онлайн-коммуникации, веб-конференции, файловое хранилище и&#160;телефонию. Главное преимущество&#160;— организация выделенных каналов связи для каждого клиента для увеличения скорости работы сервиса</p>",
	"link": "/products?group=business",
	"img": "cloud-slider-img2.jpg",
	"clouds": "cloud-slider-2.png"
},
{
	"title": "Модели CRM для отделов продаж и маркетинга",
	"content": "<p>Сервисы для работы отделов маркетинга и&#160;продаж&#160;&#8212; это сервисы, которые позволяют использовать облачное решение Microsoft Dynamics CRM Online, но&#160;при этом хранить данные в&#160;российских ЦОДах, без необходимости организовывать собственную инфраструктуру для развертывания CRM</p>",
	"link": "/products?group=business&tag=crmsystem",
	"img": "cloud-slider-img3.jpg",
	"clouds": "cloud-slider-3.png"
}
] -%}
{% block content %}
<div class="main-wrapper">

<div class="c-hero wrapped-section wrapped-section--mod-hero">

	<div class="l-container wrapped-section__container">
		<div class="l-row">
			<div class="l-col--md-9">
				<h1 class="h1 hero__title">Облачные решения Microsoft от&#160;российских партнеров</h1>
			</div>
		</div>
		<div class="l-row">
			<div class="l-col--md-7 wrapped-section__content wrapped-section__content--large">
				<p>Cloud OS&#160;Network Russia&#160;&#8212; это новая партнерская прграмма от&#160;Microsoft для оптимизации вашего бизнеса по&#160;интеграции облачных решений. Вы&#160;можете выбрать свое решение, заказать тест-драйв внедрения, консультацию партнера или экскурсию в&#160;партнерские ЦОД, чтобы узнать больше о&#160;надежности и&#160;качестве наших услуг.</p>
				<p>Выберите направление и подберите нужное решение</p>
				<p>
          <a href="{{ Root }}/products" class="btn mb20">Посмотреть решения</a>{#&#8195;<a href="#" class="btn btn--white mb20">Заказать презентацию</a>#}
        </p>
			</div>
		</div>
	</div>

	<div class="c-hero-slider__wrapper">
		<div class="l-container c-hero-slider__container">
			<div class="c-hero-slider">
				{%- for article in Articles  %}{% if article.slider %}
				<div class="c-hero-slider__item">
					<div  class="c-hero-slider__link">
						<div class="c-hero-slider__imgbox"><img src="{{ article.img}}" alt="" class="c-hero-slider__img"></div>
						<div class="c-hero-slider__text">
						<a href="{{ Root }}/{{ article._id }}">{{ article.title|safe }}</a></div>
					</div>
				</div>
				{% endif %}{% endfor -%}
			</div>
		</div>
	</div>
</div>

<div class="cloud-slider__wrapper">
	<div class="cloud-slider__tabs-wrapper">
		<div class="l-container">
			<div class="l-row">
				<div class="l-col--md-8">
					<div class="cloud-slider__tabs">
						<a href="#" class="cloud-slider__tabs-link">Сервисы в аренду</a>
						<a href="#" class="cloud-slider__tabs-link">Совместная работа</a>
						<a href="#" class="cloud-slider__tabs-link">Маркетинг и продажи</a>
					</div>
				</div>
				<div class="l-col--md-4 cloud-slider__tocatalog">
					<a href="{{ Root}}/products">Посмотреть все решения →</a>
				</div>
			</div>
		</div>
	</div>
	
	<div class="cloud-slider">
		{% for item in clouds %} {% set parentIndex = loop.index %}
			<div class="cloud-slider__item">
				<div class="cloud-slider__item-inner">
					<img src="/images/{{ item.img }}" class="cloud-slider__img cloud-slider__img--{{ loop.index }}" alt="">
					<img src="/images/{{ item.clouds }}" class="cloud-slider__clouds" alt="">
					<div class="l-container">
						{%- if item.advantages %}
						<div class="cloud-slider__popover">
							<div class="h1">Преимущества</div>
							<div class="cloud-slider__popover-content">
								{%- for one in item.advantages %}
									<div class="cloud-slider-advantage">
										<div class="cloud-slider-advantage__title">{{ one.title|safe }}</div>
										<div class="cloud-slider-advantage__content">{{ one.content|safe }}</div>
									</div>
								{% endfor -%}
							</div>
						</div>
						{% endif -%}
						<div class="cloud-slider__content">
							<div class="cloud-slider__title">{{ item.title|safe }}</div>
							<div class="cloud-slider__text">{{ item.content|safe }}</div>
							<div class="cloud-slider__text"><a href="{{ Root ~ item.link }}" class="btn mb20">Посмотреть решения</a>{#%- if item.advantages -%}&#8195;<a href="#" class="btn mb20 j-show-advantages">Преимущества</a>{%- endif -%#}</div>
						</div>
					</div>
				</div>
			</div>
		{% endfor %}
	</div>
</div>



<section class="slider-section">
  <div class="l-container">
    <h1 class="h1 text-center">Примеры успешных внедрений</h1>
  </div>
  {% include "blocks/case-slider.html" %}
</section>


<section class="partner-section">
  <div class="l-container">
    <h1 class="h1 text-center">Наши партнеры</h1>
    <ul class="partner-list mb30">
			{%- for partner in Base.partners -%}
			{%- if partner.isvisible %}
			<li class="partner-list__item">
				<span class="partner-list__item-link">
					<img src="{{ partner.logo }}" alt="{{ partner.name }}">
				</span>
			</li>
			{%- endif -%}
			{%- endfor -%}
		</ul>
		<div class="l-row">
			<div class="l-col--md-8 l-col--md-offset-2 text-center">
        <p class="mb10">
	          Мы объединили глобальный опыт Microsoft по построению облачных <br>сервисов с&#160;локальной экспертизой лучших российских партнеров. 
	      </p>
	      <p  class="mb30">Оптимизируйте свой бизнес с помощью облачных решений.</p>
	      <p>
	       	<a href="{{ Root }}/products" class="btn mb20">Посмотреть решения</a>
	      </p>
      </div>
		</div>
  </div>
</section>

<section class="faq-section">
    <div class="l-container text-center">
        <div class="l-row">
            <div class="l-col--md-6 l-col--md-offset-3">
                <h1 class="h1">Вопросы и ответы</h1>
                <p class="mb20">
                    Команда экспертов Cloud OS Network Russia готова ответить на&#160;ваши вопросы и помочь вам в выборе решения
                </p>
                <a href="{{ Root }}/wiki" class="btn">Узнать больше</a>
            </div>
        </div>
    </div>
</section>
</div>
{% include "../blocks/index_js.html" %}
{% endblock %}
