<div class="slider-wrapp">
	<div class="index-cases__wrapper">
		<div class="index-cases" id="case_slider">
		{%- for case in Cases %}<div class="index-cases__item">
				<div class="story-block">
					<div class="story-block__img">
	          <img src="{{ case.img }}" alt="">
	      	</div>
	      	<div class="story-block__data">
		        <div class="story-block__text">
		            {{ case.text|safe|truncate(120, True) }}
		        </div>
		        <div class="story-block__control">
		           <a href="{{ Root }}/{{ case._id }}" class="story-block__btn">Подробнее →</a>
		        </div>
		      </div>
		      {%- for product in Products %}
		      {%- if product._id == case.target_id %}
		      <div class="story-block__popup">
		          <a href="#" class="story-block__popup-toggle"></a>
		          <div class="story-block__popup-content">
	              <p>Решение для кейса:</p>
	              <a class="story-block__popup-brand" href="{{ Root }}/{{ product._id }}">
		              <div class="story-block__popup-brand-icon">
		                <span class="sprite-icon-{{ product.icon }}-w"></span>
		              </div>
		              <div class="story-block__popup-brand-name">{{ product.name|safe }}</div>
	              </a>
		          </div>
		      </div>
		      {% endif -%}
		      {% endfor -%}
				</div>
			</div>{%- endfor -%}
		</div>
		{#<p class="text-center"><a class="btn btn--min-width2" href="{{ Root }}/cases">Все кейсы</a></p>#}
	</div>
</div>