<script>
/*<![CDATA[*/
var cosnrApp = {
  cloud: document.getElementById('animateClouds'),
  counter: 0,
  loadCounter: [0, 0, 0, 0],
  imageCounter: 0,
  currentLimit: 56,
  currentSpeed: 70,
  images: [
    {
      src: 'https://msbusiness.blob.core.windows.net/cosnr/cloudpart1.png',
      frames: 57
    },
    {
      src: 'https://msbusiness.blob.core.windows.net/cosnr/cloudpart2.png',
      frames: 57
    },
    {
      src: 'https://msbusiness.blob.core.windows.net/cosnr/cloudpart3.png',
      frames: 57
    },
    {
      src: 'https://msbusiness.blob.core.windows.net/cosnr/cloudpart4.png',
      frames: 53
    }
  ],
  loadImg: function(idx, cb) {
    var img = new Image();
    img.src = cosnrApp.images[idx].src;
    img.onload = function() {
      cb();
    };
  },
  cloudForward: function() {
    var yPos = -266 * cosnrApp.counter + 'px';
    this.cloud.style.backgroundPosition = '0px ' + yPos;
    cosnrApp.counter ++;
  },
  dropCloud: function() {
    cosnrApp.counter = 0;
    cosnrApp.imageCounter = 0;
    cosnrApp.cloud.className = 'c-animatecloud c-animatecloud--0';
    //cosnrApp.cloud.style.backgroundImage = 'url('+ cosnrApp.images[0].src +')';
  },
  setCloudBack: function(idx) {
    cosnrApp.counter = 0;
    cosnrApp.currentLimit = cosnrApp.images[idx].frames;
    cosnrApp.cloud.className = 'c-animatecloud c-animatecloud--' + idx;
    //cosnrApp.cloud.style.backgroundImage = 'url('+ cosnrApp.images[idx].src +')';
  },
  switchBack: function() {
    cosnrApp.imageCounter += 1;

    if (cosnrApp.loadCounter[cosnrApp.imageCounter] === 0) {
      cosnrApp.dropCloud();
      return
    }

    if (cosnrApp.imageCounter === 4 ) {
      cosnrApp.dropCloud();
      return
    }

    this.setCloudBack(cosnrApp.imageCounter);
  }
}
cosnrApp.iniClouds = function() {
  cosnrApp.loadImg(0, function() {
    cosnrApp.cloud.style.display = 'block';
    document.getElementById('animateCloudsPlaceholder').style.display = 'none';
    cosnrApp.setCloudBack(0);


    setInterval(function() {
      
      if (cosnrApp.counter === cosnrApp.currentLimit -1 ) {
        cosnrApp.switchBack();
      } 

      cosnrApp.cloudForward();

    }, cosnrApp.currentSpeed);
  });

  cosnrApp.loadImg(1, function() {
    cosnrApp.loadCounter[1] = 1;
  });
  cosnrApp.loadImg(2, function() {
    cosnrApp.loadCounter[2] = 1;
  });
  cosnrApp.loadImg(3, function() {
    cosnrApp.loadCounter[3] = 1;
  });
}

$(function() {

  function setHeroHeight() {
    var hero = $('.c-hero');
    var wh = 700;

    if (window.innerHeight > 700) {
      wh = window.innerHeight - ($('#shell-header').height() + $('.shell-category-header').height());
    }

    $('.c-hero').css('min-height', wh);
  };

  if (window.outerWidth > 1024) {
    setHeroHeight()
  }

  if (window.outerWidth > 1024) {
    setHeroHeight();
  }

  $(window).on('resize', function() {
    setHeroHeight();
  })


  $('.c-hero-slider').slick({
    infinite: false,
    arrows: false,
    dots: true
  });


  $('.cloud-slider').slick({
    infinite: false,
    dots: false,
    fade: true,
    arrows: false
  });

  $('.cloud-slider__tabs-link').eq(0).addClass('cloud-slider__tabs-link--active');

  $('.cloud-slider').on('beforeChange', function(e, slick, currentSlide, nextSlide) {

    var slide = $('.cloud-slider__item').eq(currentSlide);

    if (slide.hasClass('cloud-slider__item--active')) {
      slide.removeClass('cloud-slider__item--active')
    }

    $('.cloud-slider__tabs-link').eq(nextSlide).addClass('cloud-slider__tabs-link--active').siblings().removeClass('cloud-slider__tabs-link--active');
  });

  $(".j-show-advantages").on('click', function(e) {
    e.preventDefault();
    $(this).closest('.cloud-slider__item').addClass('cloud-slider__item--active');

  });

  $('.cloud-slider__tabs-link').on('click', function(e) {
    e.preventDefault();

    var tar = $('.cloud-slider__wrapper');
    $('.cloud-slider').slick('slickGoTo', $(e.target).index());
    $('html, body').stop(true).animate({
      scrollTop: tar.offset().top
    }, 200)
  });


  function openStoryBlock(block) {
    block.css('height', block.outerHeight());
    block.find('.story-block__popup-content').css('display', 'block');
    block.find('.story-block__img').slideUp(400)
    block.addClass('story-block_mod_open');
  }

  function closeStoryBlock(block) {

    block.find('.story-block__img').slideDown(400, function() {
      block.find('.story-block__popup-content').css('display', 'none');
      block.css('height', 'auto');
      block.removeClass('story-block_mod_open');
    });
  }

  function storyBlockToggler() {
    $('.story-block__popup-toggle').on('click', function(e) {
      e.preventDefault();

      var block = $(this).closest('.story-block');

      if (block.hasClass('story-block_mod_open')) {
        closeStoryBlock(block);

      } else {
        openStoryBlock(block);
      }

    });
  };

  $('.cloud-slider__arrow--next').on('click', function() {
      $('.cloud-slider').slick('next');
  });

  $('.cloud-slider__arrow--prev').on('click', function() {
      $('.cloud-slider').slick('prev')
  });

  storyBlockToggler();

  if ($(window).width() > 1000) {
    cosnrApp.iniClouds();
  }

});
/*]]>*/
</script>
