{%- set WikiSlider = 
[
	{
		"name": "Программа Microsoft Cloud OS Network",
		"text": "Это облачная инициатива компании Microsoft, запущенная в&#160;конце 2013&#160;года. В&#160;ее&#160;рамках корпорация выбирает лучших партнеров-провайдеров, которые могли&#160;бы предоставлять заказчикам надежные облачные сервисы на&#160;базе технологий компании. По&#160;состоянию на&#160;середину 2015 года Cloud OS&#160;Network действует уже в&#160;42&#160;странах, включая Россию.",
		"caption": "Что такое Cloud OS Network?",
		"img": "slide_map.gif"
	},
	{
		"name": "Выгоды и&nbsp;преимущества Cloud OS Network Russia",
		"text": "Cloud OS&#160;Network Russia учитывает особенности и&#160;технические требования локального рынка. Преимущество решений российских провайдеров&#160;&#8212; организация выделенных каналов связи для каждого клиента, что ускоряет работу сервисов. Решения в&#160;рамках Cloud OS&#160;Network Russia подходят как новым клиентам, так и&#160;тем, кто уже пользовался продуктами Microsoft и&#160;хранил данные в&#160;ЦОДах за&#160;границей.",
		"caption": "Выгоды Cloud OS Network Russia",
		"img": "slide_pc.gif"
	},
	{
		"name": "Решения <br />Cloud OS Network",
		"text": "Сервисы в&#160;рамках инициативы Cloud OS&#160;Network Russia делятся на&#160;два типа&#160;&#8212; для оптимизации IT-инфраструктуры (виртуальные и&#160;инфраструктурные сервисы в&#160;аренду по&#160;моделям IaaS и&#160;PaaS) и&#160;сервисы для развития бизнеса (решения для коллективной работы сотрудников разных подразделений, включая отделы маркетинга и&#160;продаж).<br />Предложенные решения соответствуют требованиям корпорации Microsoft по&#160;уровню надежности, безопасности, производительности и&#160;поддержки.",
		"caption": "Решения Cloud OS Network Russia",
		"img": "slide_cup.gif"
	}
]
-%} 
<section class="wiki-slider-section">
	<div class="l-container">
		<div class="wiki-slider" id="wikiSlider">
			{%- for item in WikiSlider %}
				<div class="wiki-slider__item">
					<div class="l-row">
						<div class="l-col--md-6">
							<div class="wiki-slider__title h1">{{ item.name|safe }}</div>
							<div class="wiki-slider__text">{{ item.text|safe }}</div>
						</div>
						<div class="l-col--md-6">
							<div class="wiki-slider__img">
								<img src="/images/{{ item.img }}" alt="{{ item.img }}">
							</div>
						</div>
					</div>
				</div>
			{%- endfor %}
		</div>
		<div class="wiki-slider__controls">
			{% for item in WikiSlider  %}
				<a href="#" class="wiki-slider__controls-link {% if loop.index == 1 %}active {% endif %}" data-slide="{{ loop.index }}"><span>{{ item.caption }}</span></a>
			{% endfor %}
		</div>
	</div>
</section>
	
