{%- set WikiSlider = 
[
	{
		"name": "Программа Microsoft Cloud OS Network",
		"text": "Это облачная инициатива компании Microsoft, запущенная в&nbsp;конце 2013&nbsp;года. В&nbsp;ее&nbsp;рамках корпорация выбирает лучших партнеров-провайдеров, которые могли&nbsp;бы предоставлять заказчикам надежные облачные сервисы на&nbsp;базе технологий компании. По&nbsp;состоянию на&nbsp;середину 2015 года Cloud OS&nbsp;Network действует уже в&nbsp;42&nbsp;странах, включая Россию.",
		"caption": "Что такое Cloud OS Network?",
		"img": "slide_map.gif"
	},
	{
		"name": "Выгоды и&nbsp;преимущества Cloud OS Network Russia",
		"text": "Cloud OS&nbsp;Network Russia учитывает особенности и&nbsp;технические требования локального рынка. Преимущество решений российских провайдеров&nbsp;&mdash; организация выделенных каналов связи для каждого клиента, что ускоряет работу сервисов. Решения в&nbsp;рамках Cloud OS Network Russia подходят как новым клиентам, так и&nbsp;тем, кто уже пользовался продуктами Microsoft и&nbsp;хранил данные в&nbsp;ЦОДах за&nbsp;границей.",
		"caption": "Выгоды Cloud OS Network Russia",
		"img": "slide_pc.gif"
	},
	{
		"name": "Решения <br />Cloud OS Network",
		"text": "Сервисы в&nbsp;рамках инициативы Cloud OS&nbsp;Network Russia делятся на&nbsp;два типа&nbsp;&mdash; для оптимизации IT-инфраструктуры (виртуальные и&nbsp;инфраструктурные сервисы в&nbsp;аренду по&nbsp;моделям IaaS и&nbsp;PaaS) и&nbsp;сервисы для развития бизнеса (решения для коллективной работы сотрудников разных подразделений, включая отделы маркетинга и&nbsp;продаж).<br />Предложенные решения соответствуют требованиям корпорации Microsoft по&nbsp;уровню надежности, безопасности, производительности и&nbsp;поддержки.",
		"caption": "Решения Cloud OS Network Russia",
		"img": "slide_cup.gif"
	}
]
-%} 
<section class="wiki-slider-section">
	<div class="l-container">
		<div class="wiki-slider" id="wikiSlider">
			{%- for item in WikiSlider %}
				<div class="wiki-slider__item">
					<div class="l-row">
						<div class="l-col--md-6">
							<div class="wiki-slider__title h1">{{ item.name|safe }}</div>
							<div class="wiki-slider__text">{{ item.text|safe }}</div>
						</div>
						<div class="l-col--md-6">
							<div class="wiki-slider__img">
								<img src="/images/{{ item.img }}" alt="{{ item.img }}">
							</div>
						</div>
					</div>
				</div>
			{%- endfor %}
		</div>
		<div class="wiki-slider__controls">
			{% for item in WikiSlider  %}
				<a href="#" class="wiki-slider__controls-link {% if loop.index == 1 %}active {% endif %}" data-slide="{{ loop.index }}"><span>{{ item.caption }}</span></a>
			{% endfor %}
		</div>
	</div>
</section>
	
