
{% extends "../layout.html" %}

{% block content %}
<div class="hero wrapped-section wrapped-section--mod-hero">
	<div class="wrapped-section__bg">
		<img src="" data-src="/images/wrapped-section_bg1.jpg" class="wrapped-section__bgimage j-lazybg" alt="">
	</div>
	<div class="container wrapped-section__container">
		<div class="row">
			<div class="col-md-9">
				<h1 class="h1">Облачные решения Microsoft от&nbsp;российских партнеров</h1>
			</div>
		</div>
		<div class="row">
			<div class="col-md-7 wrapped-section__content">
				<p>Cloud OS&nbsp;Network Russia&nbsp;&mdash; это новая партнерская прграмма от&nbsp;Microsoft для оптимизации вашего бизнеса по&nbsp;интеграции облачных решений. Вы&nbsp;можете выбрать свое решение, заказать тест-драйв внедрения, консультацию партнера или экскурсию в&nbsp;партнерские ЦОД, чтобы узнать больше о&nbsp;надежности и&nbsp;качестве наших услуг.</p>
				<p>
            <a href="#" class="btn mb20">Посмотреть решения</a>&emsp;<a href="#" class="btn btn--white mb20">Заказать презентацию</a>
        </p>
			</div>
		</div>
	</div>
</div>

<div class="wrapped-section wrapped-section--mod-seno">
	<div class="wrapped-section__bg">
		<img src="" data-src="/images/wrapped-section_bg2.jpg" class="wrapped-section__bgimage j-lazybg" alt="">
	</div>
	<div class="container wrapped-section__container">
		<div class="row">
			<div class="col-md-6"></div>
			<div class="col-md-6">
				<h2 class="h2">Аренда облачных решений и&nbsp;сервисов для&nbsp;бизнеса</h2>
				<div class="wrapped-section__content">
					<p>Виртуальные и&nbsp;инфраструктурные сервисы в&nbsp;аренду (IaaS и&nbsp;PaaS)&nbsp;&mdash; это сервисы для построения клиентами веб-приложений, веб-сайтов, баз данных, развертывания вирутальных машин и&nbsp;хранилищ данных, а&nbsp;также для выполнения резервного копирования данных.</p>
					<p>
	            <a href="#" class="btn mb20">Посмотреть решения</a>&emsp;<a href="#" class="btn btn--white mb20">Заказать презентацию</a>
	        </p>
        </div>
			</div>
		</div>
	</div>
</div>

<div class="wrapped-section wrapped-section--mod-senokos">
	<div class="wrapped-section__bg">
		<img src="" data-src="/images/wrapped-section_bg3.jpg" class="wrapped-section__bgimage j-lazybg" alt="">
	</div>
	<div class="container wrapped-section__container" >
		<div class="row">
			<div class="col-md-6">
				<h2 class="h2">Совместная работа <br>с&nbsp;клиентами в облаке</h2>
				<div class="wrapped-section__content">
					<p>Сервисы для коллективной работы сотрудников включают в&nbsp;себя электронную почту, онлайн-коммуникации, веб-конференции, файловое хранилище и&nbsp;телефонию. Главное преимущество&nbsp;&mdash; организация выделенных каналов связи для каждого клиента для увеличения скорости работы сервиса</p>
					<p>
	            <a href="#" class="btn mb20">Посмотреть решения</a>&emsp;<a href="#" class="btn btn--white mb20">Заказать презентацию</a>
	        </p>
        </div>
			</div>
		</div>
	</div>
</div>

<div class="wrapped-section wrapped-section--mod-parahod">
	<div class="wrapped-section__bg">
		<img src="" data-src="/images/wrapped-section_bg4.jpg" class="wrapped-section__bgimage j-lazybg" alt="">
	</div>
	<div class="container wrapped-section__container">
		<div class="row">
		<div class="col-md-6"></div>
			<div class="col-md-6">
				<h2 class="h2">Модели CRM для отделов <br />продаж и маркетинга</h2>
				<div class="wrapped-section__content">
					<p>Сервисы для коллективной работы сотрудников включают в&nbsp;себя электронную почту, онлайн-коммуникации, веб-конференции, файловое хранилище и&nbsp;телефонию. Главное преимущество&nbsp;&mdash; организация выделенных каналов связи для каждого клиента для увеличения скорости работы сервиса</p>
					<p>
	            <a href="#" class="btn mb20">Посмотреть решения</a>&emsp;<a href="#" class="btn btn--white mb20">Заказать презентацию</a>
	        </p>
        </div>
			</div>
		</div>
	</div>
</div>

<section class="slider-section">
  <div class="container">
    <h1 class="h1 text-center">Примеры успешных внедрений</h1>
  </div>
  {% include "blocks/case-slider.html" %}
</section>


<section class="partner-section">
	<img src="" data-src="/images/partners-section-bg.jpg" class="j-lazybg" alt="">
  <div class="container">
    <h1 class="h1 text-center">Наши партнеры</h1>
    <ul class="partner-list mb30">
			{% for partner in Base.partners %}
			<li class="partner-list__item">

				<span class="partner-list__item-link">
					<img src="/images/{{ partner.logo }}" alt="{{ partner.name }}">
				</span>
			</li>
			{% endfor %}
		</ul>
		<div class="row">
			<div class="col-md-8 col-md-offset-2 text-center">
        <p class="mb10">
	          Мы объединили глобальный опыт Microsoft по построению облачных сервисов с&nbsp;локальной экспертизой лучших российских партнеров. 
	      </p>
	      <p  class="mb30">Если вы обладаете похожей компетенцией, присоединяйтесь!</p>
	      <p>
	          <a href="#" class="btn mb20">Стать партнером</a>&emsp;<a href="#" class="btn btn--white mb20">Посмотреть решения</a>
	      </p>
      </div>
		</div>
  </div>
</section>

<section class="faq-section">
    <div class="container text-center">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <h1 class="h1">Закажите звонок</h1>
                <p class="mb20">
                    Команда экспертов Cloud OS Network Russia готова ответить на&nbsp;ваши вопросы и помочь вам в выборе сервиса или решения. 
                </p>
                <a href="#" class="btn">Заказать звонок</a>
            </div>
        </div>
    </div>
</section>

{% endblock %}
