
{% extends "../layout.html" %}

{% block content %}
<div class="wrapped-section wrapped-section--mod-hero">
	<div class="wrapped-section__bg">
		<img src="" data-src="/images/wrapped-section_bg1.jpg" class="wrapped-section__bgimage" alt="">
	</div>
	<div class="container wrapped-section__container">
		wewe
	</div>
</div>

<div class="wrapped-section wrapped-section--mod-seno">
	<div class="wrapped-section__bg">
		<img src="" data-src="/images/wrapped-section_bg2.jpg" class="wrapped-section__bgimage" alt="">
	</div>
	<div class="container wrapped-section__container">
		wew
	</div>
</div>

<div class="wrapped-section wrapped-section--mod-senokos">
	<div class="wrapped-section__bg">
		<img src="" data-src="/images/wrapped-section_bg3.jpg" class="wrapped-section__bgimage" alt="">
	</div>
	<div class="container wrapped-section__container" >
		wewe
	</div>
</div>

<div class="wrapped-section wrapped-section--mod-parahod">
	<div class="wrapped-section__bg">
		<img src="" data-src="/images/wrapped-section_bg4.jpg" class="wrapped-section__bgimage" alt="">
	</div>
	<div class="container wrapped-section__container">
		wewe
	</div>
</div>
<div class="container">
	
</div>
{% endblock %}
