{% extends "../layout.html" %} {% block content %}
{% set CurrentProduct = {} %} {%- for product in Products %} {%- if product._id == Page._id %} {% set CurrentProduct = product %} {% endif %} {% endfor %} 
<div class="main-wrapper main-wrapper--withbg">
  <div class="l-container" itemscope itemtype="http://schema.org/Article">
    <ul class="bradCrumbs">
      <li class="bradCrumbs__item">
        <a href="{{ Root }}/">Главная</a>
      </li>
      <li class="bradCrumbs__item">
        <a href="{{ Root }}/products">Каталог решений</a>
      </li>
      <li class="bradCrumbs__item">
        {{ Page.name|safe }}
      </li>
    </ul>
    <h1 class="h1" itemprop="name">{{ Page.name|safe }}</h1>
    <div class="l-row">
      <div class="l-col--md-8">
        <article class="user-generate page__content" itemprop="articleBody">
          {{ Page.content|safe }}
        </article>

        {%- if Page.pdf %}<br>
        <a class="btn mr20 mb20" href="https://download.microsoft.com/documents/rus/cloudosnetwork/{{ Page.pdf }}" download >Скачать полное описание</a>
        {%- endif %}
        {% if CurrentProduct.case_id %}
          <a class="btn mb20 btn--baseborder" href="{{ Root }}/{{CurrentProduct.case_id[0]}}">Внедрения по решению</a>
        {% endif %}
      </div>
      <div class="l-col--md-4">
        <div class="boxer">
          <div class="boxer__logo">
            <img src="{{ CurrentProduct.logo }}" alt="{{ CurrentProduct.name }}"> 
          </div>
          {%- for opt in CurrentProduct.formOptions %}
            {%- for btn in Base.opts %}
            {%- if opt == btn.id %}
            {% set str = "id=" ~ Page._id ~ "&opts=[" ~ CurrentProduct.formOptions|e ~ "]" %}
            <a class="btn btn--block {%- if not loop.last %} mb10{% endif %}" href="{{ 'https://events.techdays.ru/cloud-os-network-form/apply?' ~ str|urlencode ~ '&active='|urlencode ~ opt }}" {% if btn.id == 1 %} onclick="atlasTrack('CLD_SMB_Rus_Clk_Prd_Cloud_Connect_CON');" {% endif %} >{{ btn.title }}</a>
            {%- endif %}
            {%- endfor %}
          {%- endfor %}
        </div>

        {#<div class="boxer">
          <div class="boxer__title">Продукты Microsoft</div>
          <ul class="boxer__products">
            {%- if CurrentProduct.productSet == 0 %}
              <li class="boxer__products-item"><a target="_blank" href="https://azure.microsoft.com/ru-ru/">Microsoft Azure</a></li>
            {%- endif %}
            {%- if CurrentProduct.productSet == 1 %}
              <li class="boxer__products-item"><a target="_blank" href="https://products.office.com/ru-ru/business/office">Microsoft Office 365</a></li>
              <li class="boxer__products-item"><a target="_blank" href="https://products.office.com/ru-ru/exchange/email">Microsoft Exchange</a></li>
              <li class="boxer__products-item"><a target="_blank" href="https://products.office.com/ru-ru/sharepoint/collaboration">Microsoft SharePoint</a></li>
            {%- endif %}
            {%- if CurrentProduct.productSet == 2 %}
              <li class="boxer__products-item"><a target="_blank"  href="https://www.microsoft.com/ru-ru/dynamics/default.aspx">Microsoft Dynamics CRM</a></li>
            {%- endif %}
          </ul>
        </div> #}
      </div>
    </div>
  </div>

  <section class="simple-section">
    <div class="l-container">
      <h1 class="h1">Похожие решения</h1>
    </div>
    <div class="expand-block">
      <!-- ko if: m_site.products() -->
      <div class="catalog catalog_mh" data-bind="foreach: {data: m_site.products()}">
        <div class="catalog__item">
          <div class="product-block">
            <div class="product-block__front">
              <div class="product-block__logo">
                <img src="" alt="" data-bind="attr: {src: logo }">
              </div>
              <div class="product-block__name">
                <div class="product-block__name-icon" data-bind="visible: icon">
                  <span data-bind="css: 'sprite-icon-' + icon"></span>
                </div>
                <div class="product-block__name-text" data-bind="html: name"></div>
              </div>
              <div class="product-block__data">
                <div class="product-block__text" data-bind="html: short_text"></div>
                <div class="product-block__control">
                  <a href="" class="btn btn--bluelight" data-bind="attr: {href: '{{ Root }}/' + _id}">Подробнее →</a>
                </div>
              </div>
              <!-- ko if: $data.case_data  -->
              <div class="product-block__popup">
                <a href="#" class="product-block__popup-toggle" data-bind="click: function() {$root.toggleProductAnimation($element)}"></a>
                <div class="product-block__popup-content">
                  <p data-bind="text: $data.case_data.length > 1 ? 'Реализованные кейсы:': 'Реализованый кейс'"></p>
                  <div data-bind="foreach: { data: case_data,  as: 'item'}">
                    <p class="mt5">
                      <a href="" data-bind="attr: {href:  '{{ Root }}/' + item._id}, text: item.name"></a>
                    </p>
                  </div>
                </div>
              </div>
              <!-- /ko -->
            </div>
          </div>
        </div>
      </div>
      <!-- /ko -->
    </div>
    <div class="l-container mb30">
      <a href="{{ Root }}/products" class="btn">Посмотреть все решения</a>
    </div>
  </section>
</div>
{% include "../blocks/scripts_product.html" %} 
{% endblock %}
