<!-- page  -->
{% set slider = [

] %}
{% extends "../layout.html" %} {% block content %}
<div class="main-wrapper main-wrapper--withbg">
  <script src="/javascripts/products.js"></script>
  <div class="container">
    <ul class="bradCrumbs">
      <li class="bradCrumbs__item">
        <a href="/">Главная</a>
      </li>
      <li class="bradCrumbs__item">Каталог решений</li>
    </ul>
    <h1 class="h1">Каталог решений</h1>{% include "blocks/filters.html" %}
    <div class="mb35 product-preloader" style="text-align: center;"><img src="{{ base.STATIC_URL }}img/product-preloader.gif" alt=""></div>
  </div>
</div>
{% endblock %}
<!-- page -->
