.btn {
	display: inline-block;
	vertical-align: top;
	font-size: @font-size-base;
	text-decoration: none;
	outline: none;
	padding: 7px 1.250em 9px 1.250em;

	&-green {
		.MakeBtnLight(@green, @green, #fff, 15%);
	}

	&-blue {
		.MakeBtnLight(@blue, @blue, #fff, 15%);
	}

	&-greenlight {
		.MakeBtnDark(@green-light, @green-light, @green, 10%);


		&:active,
		&_active {
			background-color: darken(@green, 5%);
			border-color: darken(@green, 5%);
			color: #fff;
		}

		&:hover {
			background-color: @green;
			border-color: @green;
			color: #fff;
		}

	}

	&-bluelight {
		border: 2px solid @blue2;
		background-color: @blue2;
		color: @blue;
		vertical-align: inherit;
		letter-spacing: -.01em;
		.transition(all .3s ease-in-out);

		&:hover {
			background-color: @blue;
			border-color: @blue;
			color: #fff;
		}

		&:active,
		&_active {
			background-color: darken(@blue, 5%);
			border-color: darken(@blue, 5%);
			color: #fff;
		}
	}

	&-grayGhost {
		.MakeGhostBtn(@gray, #fff, @gray);
	}

	&-blueGhost {
		.MakeGhostBtn(@blue, #fff, @blue);
	}

	&-filter {
		border: 1px solid #fff;
		background-color: #fff;
		color: @blue;
		vertical-align: inherit;
		//.base-shadow();
		.transition(all .3s ease-in-out);
		position: relative;
		padding: 4px 1.5em 6px 1.5em;

		span {
			border-bottom: 1px dashed @gray;
			color: @gray;
			.transition(all .3s ease-in-out);
		}

		&:hover {
			//background-color: lighten(@bg, (@delta *1%));
			//border-color: lighten(@bg, (@delta *1%));

			span {
				border-bottom-color: transparent;
			}
		}

		&:active {
			//background-color: lighten(@bg, (@delta/2 *1%));
			//border-color: lighten(@bg, (@delta/2 *1%));
		}

		&_active {
			background-color: #fff;
			border-color: @blue;

			// &:after {
			// 	content: "\00D7";
			// 	position: absolute;
			// 	top: 50%;
			// 	right: 9px;
			// 	margin-top: -.75em;

			// }

			span {
				border-bottom-color: transparent;
				color: @blue;
			}
		}

		&_green {
			//color: @green;
		}

		&_green&_active {
			border-color: @green !important;

			span {
				color: @green;
			}
		}
	}

	&-block {
		display: block;
		width: 100%;
	}

	&-main {
		background-color: #F25022;
		font-size: 1.5em;
		color: #fff;
		padding: 10px 10px 12px 10px;
		display: block;
		text-align: center;
		//.base-shadow

		&:hover {
			background-color: darken(#F25022, 7%);
		}

		&:active {
			background-color: darken(#F25022, 14%);
		}

		&_disabled {
			background-color: #c0c0c0 !important;
		}
		
	}
	
}