.catalog {
	margin-left: -3%;
	&__item {
		display: inline-block;
		vertical-align: top;
		
		width: 30.3333%;
		margin-right: -.25em;
		margin-left: 3%;

		&.inactive {
			.opacity(.4);
		}
		
	}

	&-wrapper {
		min-height: 450px;
	}
}