.slider {
	margin-left: -40px;
	margin-right: -40px;

	&__item {
		padding: 5px 20px;
		opacity: .3
	}

	&--cases {
		.slick-list {
			overflow: visible;
		}

		.slick-active {
			opacity: 1
		}
	}



	&-wrapp {
		overflow: hidden;
	}


}