.slider {
	margin-left: -40px;
	margin-right: -40px;

	&-section {
		padding: 100px 0;
	}

	&__item {
		padding: 5px 20px;
		
		
		outline: none !important;

		@media (min-width: 1024px) {
			opacity: .2;
			transition: opacity .3s ease-in-out;
			filter: grayscale(100%);
		}
	}

	&--cases {
		.slick-list {
			overflow: visible;
		}

		.slick-active {
			
			

			@media (min-width: 1024px) {
				filter: grayscale(0);
				opacity: 1;
			}
		}
	}



	&-wrapp {
		overflow: hidden;
	}

}