.wrapped-section {
	position: relative;
	min-height: 576px;
	font-size: @font-size-base;
	padding-top: 100px;

	&__bg {
		position: absolute;
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center top;
		display: none;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		width: 100%;


	}

	&__bgimage {
		display: none;
	}

	&__content {
		p{
			margin-bottom: 35px;
		}
	}

	&--mod {

		&-hero {
			padding-top: 70px;
			min-height: 560px;
		}

		&-seno {
		}

		&-senokos {
		}

		&-parahod {
		}
	}

	&__container {
		position: relative;
		z-index: 1;
	}


}